/*SELECTORS*/
/**************************************/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #000000;
  color:white;
}

.header-container button{
  font-size: 15px;
  padding: 5px 10px;
  color:white;
  background-image: linear-gradient(#4B4C4F, #232427) ; 
  border:0;
  border-radius: 5px;
}
/**************************************/

/*CLASSES*/
/**************************************/
.header-container{
  text-align:right;
  padding:15px;
  min-height: 60px;

}

.participants-container{
  height: calc(100vh - 60px - 100px);
  display:flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow:hidden;
}
.participant{
  width: calc(100% / 5);
  height: calc(100% / 5);
  border: 1px solid green;
}

.footer-container{
  background-color: red;
  min-height: 70px;
  margin-top: 30px;
}
/**************************************/